<div class="video-section">
	<%= video_tag(["charity.mp4"], autoplay: true, loop: true) %>
	<div class="section-content container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Give. <small>Connect to causes in your community.</small></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<%= form_tag charities_path, method: :get, class: "form-group search-form" do %>
					<i class='fa fa-search'></i>
				  <%= text_field_tag(
			      :search,
			      params[:search],
			      placeholder: "",
			      class: "form-search search",
						id: "search-bar"
				  ) %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<section class="container">
	<div class="row">
		<div class="col-md-4">
	    <%= image_tag("community.jpg", size: "300x300", class: 'img-circle center-block') %>
			<h3 class="text-center">Community</h3>
			<p>We believe everyone should have the chance to make a difference. We've connect people with a great place to volunteer and organizations better leverage volunteers to create real impact.</p>
		</div>
		<div class="col-md-4">
	    <%= image_tag("relationships.jpg", size: "300x300", class: 'img-circle center-block') %>
			<h3 class="text-center">Relationships</h3>
			<p>KarmaBear is about relationships. We are a service that brings good people and good causes together. We believe that the health of our community can be measured by the relationships formed between volunteers and the nonprofits they serve.</p>
		</div>
		<div class="col-md-4">
	    <%= image_tag("partnerships.jpg", size: "300x300", class: 'img-circle center-block') %>
			<h3 class="text-center">Partnerships</h3>
			<p>We are a network that is only as strong as the partnerships that support it. KarmaBear offers a variety of tools and services to help you connect with new volunteers, manage volunteers and prospects, and become a great place to volunteer.</p>
		</div>
	</div>
</section>
