<div class="modal fade" id=<%= "regisApprovalModal#{registration.id}" %> tabindex="-1" role="dialog" aria-labelledby="regisApprovalModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id=<%= "regisApprovalModalLabel#{registration.id}" %>>Please approve these volunteer hours.</h4>
      </div>

      <div class="modal-body">
        <h3>Giver <em><%= registration.giver.username %></em> volunteered for <%= registration.pending_hours %> hours<br>during the <%= registration.event.name %>.</h3>
      </div>

      <div class="modal-footer">
        <%= form_for [:manager, @charity, registration.event, registration], method: 'put' do |f| %>
          <%= f.submit :Approve, class: "btn approve-btn btn-block" %>
        <% end %>

        <%= form_for [:manager, @charity, registration.event, registration], method: 'delete' do |f| %>
          <%= f.submit :Deny, class: "btn deny-btn btn-block" %>
        <% end %>
      </div>

    </div>
  </div>
</div>






