<div class="modal fade" id=<%= "donationApprovalModal#{donation.id}" %> tabindex="-1" role="dialog" aria-labelledby="donationApprovalModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id=<%= "donationApprovalModalLabel#{donation.id}" %>><%= donation.need.name %></h4>
      </div>

      <div class="modal-body">
        <%= donation.quantity_pending %> pending for <%= donation.giver.username %>
      </div>

      <div class="modal-footer">
        <%= form_for [:manager, @charity, donation.need, donation], method: 'put' do |f| %>
          <%= f.submit :approve, class: "btn btn-primary" %>
        <% end %>

        <%= form_for [:manager, @charity, donation.need, donation], method: 'delete' do |f| %>
          <%= f.submit :deny, class: "btn btn-primary" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
