<div class="modal fade email-modal" id="newEmailModal" tabindex="-1" role="dialog" aria-labelledby="newEmailModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="newEmailModalLabel">
          Email Followers
        </h4>
      </div>

      <div class="modal-body">
        <%= form_tag manager_mail_followers_path, id: 'email-form', method: :post do %>
        <div class="form-group">
          <%= label_tag :subject, "Subject:", class: "col-form-label"%>
          <%= text_field_tag :subject, nil, class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= label_tag :body, "Body:", class: "col-form-label"%>
          <%= text_area_tag :body, nil, class: 'form-control'%>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" form="email-form" class="btn man-dash-top-btn btn-block" data-toggle="modal" data-target=".email-modal">Send</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: 'manager/modals/mailer_success' %>
