<div class="modal fade" id=<%= "viewEventModal#{event.id}" %> tabindex="-1" role="dialog" aria-labelledby=<%= "viewEventModalLabel#{event.id}" %> aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id=<%= "viewEventModalLabel#{event.id}" %>>Event Page</h2>
      </div>

      <div class="modal-body">
        <p><strong>Starts:</strong> <%= event.start %></p>
        <p><strong>Ends:</strong> <%= event.end %></p>

        <p><strong>Description:</strong> <%= event.description %></p>

        <p><strong>Givers Needed:</strong> <%= event.givers_needed %></p>

        <div class="registered-volunteers">
          <h3>Givers Registered: </h3>

          <% if event.givers.empty? %>
            no volunteers yet
          <% else %>
            <ul>
              <% event.givers[0..10].each do |giver| %>
                <li class="list-unstyled"> <%= giver.username %></li>
              <% end %>
            </ul>
          <% end %>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn man-dash-top-btn btn-block" data-toggle="modal" data-target=<%= "#editEventModal#{event.id}" %>>edit</button>
          <%= render partial: 'manager/modals/edit_event', locals: { event: event } %>

        <%= form_for [:manager, @charity, event], method: 'delete' do |f| %>
          <%= f.submit :delete, class: "btn deny-btn btn-block" %>
        <% end %>
      </div>

    </div>
  </div>
</div>


