<div class="modal fade" id=<%= "viewVolunteerModal#{volunteer.id}" %> tabindex="-1" role="dialog" aria-labelledby=<%= "viewVolunteerModalLabel#{volunteer.id}" %> aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id=<%= "#viewVolunteerModalLabel#{volunteer.id}" %>>Profile: <%= volunteer.first_name %> <%= volunteer.last_name %></h4>
      </div>

      <div class="modal-body">
        <p><%= volunteer.first_name %> <%= volunteer.last_name %></p>
        <p><%= volunteer.username %></p>
        <p><%= volunteer.email %></p>
      </div>

      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>
