<div class="modal fade" id=<%= "viewNeedModal#{need.id}" %> tabindex="-1" role="dialog" aria-labelledby=<%= "viewNeedModalLabel#{need.id}" %> aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id=<%= "viewNeedModalLabel#{need.id}" %>>Show <%=@need.name%> Need Page</h2>
      </div>

      <div class="modal-body">
        <p><strong>Status:</strong> <%= need.status %></p>

        <p><strong>Description:</strong> <%= need.description %></p>

        <p><strong>Quantity Needed:</strong> <%= need.quantity_needed %></p>

        <div class="donors">
          <h3>Donors: </h3>
          <% if need.givers.empty? %>
            no volunteers yet
            <% else %>
              <ul>
                <% need.givers[0..10].each do |giver| %>
                  <li class="list-unstyled"> <%= giver.username %></li>

                <% end %>
              </ul>
            <% end %>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn man-dash-top-btn btn-block" data-toggle="modal" data-target=<%= "#editNeedModal#{need.id}" %>>edit</button>
          <%= render partial: 'manager/modals/edit_need', locals: { need: need } %>

        <%= form_for [:manager, @charity, need], method: 'delete' do |f| %>
          <%= f.submit :delete, class: "btn deny-btn btn-block" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
