<h1>Manager Dashboard: Edit <%= @event.name %> Event</h1>

<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [:manager, @charity, @event], method: 'put' do |f|%>
	<div>
		<%= f.label :name %>:
		<%= f.text_field :name, value: @event.name %>
	</div>

	<div>
		<%= f.label :starts %>:
		<%= f.datetime_field :start %>
	</div>

	<div>
		<%= f.label :ends %>:
		<%= f.datetime_field :end %>
	</div>

	<div>
		<%= f.label :description %>:
		<%= f.text_area :description, value: @event.description %>
	</div>

	<div>
		<%= f.label :givers_needed %>:
		<%= f.text_field :givers_needed, value: @event.givers_needed %>
	</div>

	<%= f.submit %>
<%end%>
