<h1>Manager Dashboard: Show <%=@event.name%> Event Page</h1>

<li>Starts: <%= @event.start %></li>
<li>Starts: <%= @event.end %></li>

<li>Description: <%= @event.description %></li>

<li><%= @event.givers_needed %> givers needed</li>

<div>
  <%= link_to '< back to events index', manager_charity_events_path(@charity) %>
</div>
