<h1><%= @charity.name %></h1>

<h2>Needed:</h2>

<p><%= @need.name %></p>
<p>Description:<%= @need.description %></p>
<p>Quantity Needed:<%= @need.quantity_needed %></p>
<p>Status:<%= @need.status %></p>

<div>
  <p>register for this event:
    <%= link_to 'donate', new_charity_need_donation_path(@charity, @need) %>
  </p>
</div>
