<h1>Manager Dashboard: Needs for <%= @charity.name %></h1>

<div>
<%= link_to 'Add new need', new_manager_charity_need_path(@charity) %>
</div>

<% @needs.each do |need| %>

  <li>
    <%= need.name %>
      <%= link_to 'show', manager_charity_need_path(@charity, need) %>
      <%= link_to 'update', edit_manager_charity_need_path(@charity, need) %>
      <%= link_to 'destroy', manager_charity_need_path(@charity, need), method: 'delete' %>
  </li>

<% end %>

<p> also good to show: # of total attendees? date, time, etc?</p>
