<footer class="footer-basic-centered">
	<p class="footer-company-motto">Give local.</p>
	<p class="footer-links">
		<%= link_to "Home", root_path %>
		·
		<%= link_to "About" %>
		·
		<%= link_to "Contact" %>
		·
		<% if current_manager %>
			<%= link_to "Logout", destroy_manager_session_path, method: :delete %>
		<% else %>
			<%= link_to "Login", new_manager_session_path %>
		<% end %>
	</p>
	<p class="footer-company-name">KarmaBear &copy; 2016</p>
</footer>
