<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class='container'>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag("karmabear_icon.png", size: "25x25") %>
        KarmaBear
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
    		<% if current_giver %>
				  <li><%= link_to "Hi, #{current_giver.first_name}", "/users/#{current_giver.username}" %></li>
          <li><%= link_to "Log out", destroy_giver_session_path, method: :delete %></li>
				<% else %>
          <% if !current_manager %>
				  <li>
            <%= link_to giver_facebook_omniauth_authorize_path do %>
              <%= image_tag("facebook.png", size: "130x28") %>
            <% end %>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div>
</nav>
