<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class='container'>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
      <i class="fa fa-users"></i>
	      KarmaBear
	    <% end%>
    </div>

    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
      	<li><%= link_to "Home", root_path %></li>
    		<% if current_giver %>
				  <li><%= link_to current_giver.username, "/users/#{current_giver.username}" %></li>
				<% end %>
        <li><%= link_to "Sign In(M)", new_manager_session_path %></li>
				<li><%= link_to "Sign Out(M)", destroy_manager_session_path, method: :delete %></li>
				<li><%= link_to "Sign In(Giver)", new_giver_session_path %></li>
				<li><%= link_to "Sign Out(Giver)", destroy_giver_session_path, method: :delete %></li>
				<li><%= link_to "Sign in with Facebook", giver_facebook_omniauth_authorize_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div>
</nav>
