<h1><%= @charity.name %></h1>

<h2><%= @event.name %></h2>
<p>Description:<%= @event.description %></p>
<p>Start:<%= @event.start %></p>
<p>End:<%= @event.end %></p>
<p>Givers Needed: <%= @event.givers_needed %></p>