<h1>Dashboard for <%=@charity.name%></h1>

<div class="charity-info">
  <p><%= @charity.address[0] %> <%= @charity.address[1] %></p>
  <p><%= @charity.address[2] %></p>
  <p>Managed by <%=@charity.manager.username%></p>
</div>

<div class="metrics-container">
	<h2>fancy shmancy interactive charts</h2>
  <li>2000 hours</li>
  <li>1300 donations</li>
  <li>450 givers</li>
</div>

<div class="followers-live">
<!-- sam's magical web socket stuff -->
</div>

<div class="registrations-container">
  <h2>current registrations activities</h2>
      <%= render partial: 'manager/partials/registrations' %>
</div>

<div class="donations-container">
  <h2>current donations activities</h2>
      <%= render partial: 'manager/partials/donations' %>
</div>

<div class="planned-events-container">
  <h2>planned Events</h2>
    <%= render partial: 'manager/partials/events' %>
</div>

<div class="planned-needs-container">
  <h2>Planned Needs</h2>

needs partial:
    <%= render partial: 'manager/partials/needs' %>

</div>

<div class="events-button-container">
  <h2>add event button</h2>

  <li>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newEventModal">Add Event</button>
  </li>
  <%= render partial: 'manager/modals/new_event' %>
</div>

<!-- add need modal implementation complete -->
<div class="needs-container">
  <h2>add need button:</h2>

  <li>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newNeedModal">Add Need</button>
  </li>
  <%= render partial: 'manager/modals/new_need' %>
</div>


<div class="givers-container">
  <h2>view givers button</h2>

  <li>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#allGiversModal">View Givers</button>
  </li>
  <%= render partial: 'manager/modals/all_givers'%>
</div>
