<%= render partial: 'manager/modals/drawer' %>

<div class="container-fluid">

  <!-- dashboards sections -->
  <div class="row">
    <!-- left side (small screen devices) -->
    <!-- right side (medium+ screen devices) -->
    <div class="col-md-9 col-md-push-3 text-center">
      <!-- Interactive Charts -->
    </br>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default chart-section">
            <div class="panel-body">

            <div id="chart-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

            </div>
          </div>
        </div>
      </div>

      <!-- Planned Events -->
      <div class="row">
        <div class="col-sm-6">
          <h2>Events</h2>
          <div class="panel panel-default scroll-section">
            <div class="panel-body">
              <%= render partial: 'manager/partials/events' %>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h2>Needs</h2>
          <div class="panel panel-default scroll-section">
            <div class="panel-body">
              <%= render partial: 'manager/partials/needs' %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <h2>Registration Management</h2>
          <div class="panel panel-default scroll-section">
            <div class="panel-body">
              <%= render partial: 'manager/partials/registrations' %>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h2>Donation Management</h2>
          <div class="panel panel-default scroll-section">
            <div class="panel-body">
              <%= render partial: 'manager/partials/donations' %>
             </div>
          </div>
        </div>
      </div>

    </div>

    <!-- right side -->
    <div class="col-md-3 col-md-pull-9">
      <!-- live activity feed -->
    </br>
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="panel panel-default">
            <div class="panel-body notifications">
              <div class="list-group">
                <h3>Activity Feed</h3>
              <% @notifications.each do |notification| %>
                <%= render_notification(notification) %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
