
<h1>Dashboard for <%=@charity.name%></h1>

<div class="charity-info">
  <p><%= @charity.address[0] %> <%= @charity.address[1] %></p>
  <p><%= @charity.address[2] %></p>
  <p>Managed by <%=@charity.manager.username%></p>
</div>

<div class="metrics-container">
	<h2>fancy shmancy interactive charts</h2>
  <li>2000 hours</li>
  <li>1300 donations</li>
  <li>450 givers</li>
</div>

<!-- click on givers in activity feed to trigger a modal for denying/approving a giver's request: -->
<div class="registrations-container">
  <h2>current registrations activities</h2>
    click this - trigger modal of registration#show:
      <%= render partial: 'manager/partials/registrations' %>
</div>

<div class="registrations-container">
  <h2>current donations activities</h2>
    click this - trigger modal of donation#show:
      <%= render partial: 'manager/partials/donations' %>
</div>


<!-- click on event/need to trigger a modal with event or need #show page -->
<div class="planned-events-container">
  <h2>Planned Events</h2>

events partial:
    <%= render partial: 'manager/partials/events' %>

</div>

<div class="planned-needs-container">
  <h2>Planned Needs</h2>

needs partial:
    <%= render partial: 'manager/partials/needs' %>

</div>

<!-- buttons! trigger modals: -->
<div class="events-button-container">
  <h2>add event button</h2>

	<li>(modal for: events#new)
    <%= link_to 'Add Event (events/new)', new_manager_charity_event_path(@charity) %>
  </li>
</div>

<div class="needs-container">
  <h2>add need button:</h2>

  <li>(modal for: needs#new)
    <%= link_to 'Add Need (needs/index)', new_manager_charity_need_path(@charity) %>
  </li>
</div>

<div class="givers-container">
  <h2>view givers button</h2>

  <li>(modal for: givers#index)
    <%= link_to 'View givers (givers/index)', manager_charity_givers_path(@charity) %>
  </li>
</div>
