<%= render partial: 'manager/modals/drawer' %>

<div class="container">

  <!-- dashboards sections -->
  <div class="row">
    <!-- left side -->
    <div class="col-md-7 col-md-push-5 text-center">
      <!-- Interactive Charts -->
      <div class="row">
        <div class="col-xs-12">
          <h2>Interactive Charts</h2>
          <div class="panel panel-default">
            <div class="panel-body">
              <p>2000 hours</p>
              <p>1300 donations</p>
              <p>450 givers</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Planned Events -->
      <div class="row">
        <div class="col-xs-12">
          <h2>Planned Events</h2>
          <div class="panel panel-default scroll-section">
            <div class="panel-body">
              <%= render partial: 'manager/partials/events' %>
            </div>
            </div>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Planned Needs</h2>
          <div class="panel panel-default scroll-section">
            <div class="panel-body">
              <%= render partial: 'manager/partials/needs' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- right side -->
    <div class="col-md-5 col-md-pull-7">
      <!-- live activity feed -->
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>Activity Feed</h2>
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Activity 1</p>
              <p>Activity 2</p>
              <p>Activity 3</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- current registration activities -->
        <div class="col-xs-12 text-center">
          <h2>Current Registration Activities</h2>
          <div class="panel panel-default scroll-section">
            <div class="panel-body">
              <%= render partial: 'manager/partials/registrations' %>
            </div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center">
          <!-- current donation activities -->
          <h2>Current Donation Activities</h2>
          <div class="panel panel-default scroll-section">
            <div class="panel-body">
              <%= render partial: 'manager/partials/donations' %>
             </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>