<h1>Giver View: Add New Donation for <%= @need.name %></h1>

<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@charity, @need, @donation] do |f|%>
  <div>
    <%= f.label "How many will you give?" %>:
    <%= f.text_field :quantity_pending%>
  </div>

  <%= f.submit %>
<%end%>
