<h1>Show Page for <%= @charity.name %></h1>

<div>
  <% if @giver.followed_charities.include?(@charity) %>
    <h2>You are following this charity:
    </h2>
  <% else %>
    <h2>You are not following this charity:
      <%= link_to 'follow', charity_subscriptions_path(@charity), method: 'post' %>
    </h2>
  <% end %>
</div>

<h2>Events:</h2>

<% @events.each do |event| %>
  <li>
    <%= event.name %>
      <%= link_to 'show', charity_event_path(@charity, event) %>
  </li>
<% end %>



<h2>Needs:</h2>

<% @needs.each do |need| %>
  <li>
    <%= need.name %>
      <%= link_to 'show', charity_need_path(@charity, need) %>
  </li>
<% end %>
