<div class="modal fade" id="editDonationModal" tabindex="-1" role="dialog" aria-labelledby="editDonationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="editDonationModalLabel">Edit Quantity of <%= @need.name %></h4>
      </div>

      <% if @donation %>

        <div class="modal-body">
          <% if @errors %>
            <ul>
              <% @errors.each do |error| %>
              <li><%= error %></li>
              <% end %>
            </ul>
          <% end %>

          <%= form_for [@charity, @need, @donation], method: 'put' do |f|%>
            <div class="form-group row">
              <%= f.label "Quantity of donation?", class: "col-xs-6 col-form-label"%>

              <div class="col-xs-3">
                <%= f.text_field :quantity_pending, value: @donation.quantity_pending, class: 'form-control'%>
              </div>
            </div>
          </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit 'Update', class: "btn btn-primary btn-secondary"%>
            </div>
          <%end%>

      <% end %>

    </div>
  </div>
</div>
