<!DOCTYPE html>
<html>
  <head>
    <title>KarmaBear</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%= render partial: 'partials/navbar' %>
  </header>
  <body>
    <%= yield %>
    <%= render partial: 'partials/footer' %>
  </body>
</html>
